[submodule "Snowbull.Core"]
	path = Snowbull.Core
	url = git://github.com/Snowbull/Snowbull.Core.git
[submodule "Snowbull.Console"]
	path = Snowbull.Console
	url = git://github.com/Snowbull/Snowbull.Console.git
